@import url('../bootstrap/css/bootstrap.min.css');
@import url('../fontawesome-6.2.0/css/all.min.css');

:root {
  --feistGreen : #007D32;
}

*, p, h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins-Regular;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(font/Poppins-Bold.ttf);
}